.row {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.col-select {
  flex: 2 1 200px;
  padding: 0 20px;
}

.col-install {
  flex: 1 1 100px;
  padding-top: 1em;
/*   display: flex;
  align-items: center; */
}

input {
  width: 100%;
}

label {
  display:block;
  padding-bottom: 1em;
}